.footer{
    width: 100%;
    height: 35vh;
    display: flex;
    position: sticky;
    justify-content: center;
    padding:2.5rem 0 2rem 0;
    background-color: #00D1FF;
}

.top{
    height: 4vh;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

.footer .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
 }

.media a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
